@using Microsoft.AspNetCore.OutputCaching
@model JokesIndexViewModel

@{

  ViewData["Title"] = "Jokes Homepage";
  var jokes = Model.AllJokes;
  var totalCount = Model.TotalCount;
}


<h1>Community Jokes Home Page!</h1>

<div class="text-end">
  <a href="/jokes/new" class="btn btn-primary">Add a Joke</a>
</div>

@if (totalCount == 0)
{
  <p>No jokes in the database yet.</p>
}
else
{
  @*         <td>@joke.SetUp</td>
          <td>@joke.PunchLine</td>
          <td>@joke.AvgRating</td>
          <td>@joke.AuthorUsername</td>
          <td><a href="@joke.Id">view</a> 
          @if (Context.Session.GetInt32("userId") == joke.UserId)
          {
          <a href="@joke.Id/edit">edit</a> <a href="@joke.Id/delete">delete</a>
          } *@
@foreach (var joke in jokes) 
{
<div class="card card-margin">
            <div class="card-header no-border">
                <span class="card-title">Dad: @joke.AuthorUsername</span>
            </div>
            <div class="card-body">       
                        <div class="card-title"> 
                            <strong class="">Set-up:</strong>
                            <span class="">@joke.SetUp</span>
                        </div>
                        <div class="card-body"> 
                            <strong class="">Punchline:</strong>
                            <span class="">@joke.PunchLine</span>
                </div>
            </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">view</a>
                        @if (Context.Session.GetInt32("userId") == joke.UserId)
          {
          <a href="@joke.Id/edit">edit</a> <a href="@joke.Id/delete">delete</a>
          }
                    </div>
        </div>
}

}

